<html>
<head>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</head>

<body>

<header>
  <h1>fazomo's Blog SEX<h1>
</header>

{% for post in posts %}
<section id="post_area">
  <p class="info"><span>By</span>{{ post.author }}<span></span><span>Published</span>{{ post.published_date }}</p>
  <h3><a href="">{{ post.title }}</a></h3>
  <p class="content">{{ post.text|linebreaks }}</p>

  <section class="seperator">
  </section>
</section>

{% endfor %}

</body>
</html>
