<html>
<head>
<style>
body {background:#fff}
.abc {background:#364659; height:300px; width:100%}
.abc p, .abc h1 {color:#fff}
.abc a {text-decoration:none; color:#fff}

.def {height:2px; width:100%; background:#FFF}
</style>
</head>
<body>

{% for post in posts %}

<section class="abc">
<p>published: {{ post.published_date }}</p>
<p>{{ post.author }}</p>
<h1><a href="">{{ post.title }}</a></h1>
<p>{{ post.text|linebreaks }}</p>
</section>
<section class="def">
</section>

{% endfor %}

</body>
</html>
